:root {
    --color-1: lightsalmon;
    --color-2: gold;
    --color-3: darkred;
    --color-4: grey;
    --color-bg: #7FAFBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color-3);
    font-family: Arial, Helvetica, sans-serif;
}

/* BEGIN HEADER STYLES */
header {
    padding: 15px 35px;
    background-color: var(--color-3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: auto 0;
    font-size: 36px;
    padding: 3px 60px 3px 20px;
    border-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--color-1);
    color: var(--color-2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--color-2);
}

header nav {
    margin: auto 0;
    padding: 3px 0;
    background-color: var(--color-4);
    border-radius: 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.7vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--color-2);
    color: var(--color-3);
    border-radius: 15px;
    text-shadow: none;
}
/* END HEADER STYLES */


/* BEGIN FOOTER STYLES */
footer {
    background: var(--color-2);
    width: 100%;
    padding: 20px 35px;
    text-align: center;
}

footer p {
    font-weight: bolder;
    font-size: 30px;
    margin: 0;
    padding-top: 5px;
}
/* END FOOTER STYLES */


/* BEGIN HERO */
.hero {
    height: 400px;
    width: 100%;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}
/* END HERO */


/* BEGIN SECTION SPACING STYLES */
.content-section {
    display: flex;
    justify-content: flex-start;
    padding: 25px 40px 40px 80px;
}

.section-title {
    font-size: 48px;
    color: var(--color-3);
    border-right: 3px solid;
    border-color: var(--color-3);
    padding: 0 20px 0 60px;
    text-align: right;
    margin-right: 20px;
    width: 30%;
}

.flex-content {
    width: 70%;
}
/* END SECTION SPACING STYLES */


/* BEGIN ABOUT ME STYLES */
.about-bg {
    background-color: var(--color-bg);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about p {
    flex: 1 60%;
    align-self: flex-start;
    margin: 2px;
}

.about-img {
    flex: 1 10%;
    margin-right: 12px; 
}

.about-img img {
    max-width: 100%;
    border-radius: 15px;
}
/* END ABOUT ME STYLES */


/* BEGIN MY WORK STYLES */
.work {
    margin: auto 0;
}

.work a {
    text-decoration: none;
    color: var(--color-2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.grid-item {
    height: 150px;
    display: flex;
    align-items: flex-end;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
}

.grid-horiseon {
    height: 300px;
    background-image: url("../images/horiseon-bg.png");
    background-size: cover;
    background-position: 50% 60%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.grid-run-buddy {
    background-image: url("../images/run-buddy-bg.png");
    background-size: cover;
    background-position: center;
}

.grid-unknown {
    background-image: url("../images/under-construction.jpg");
    background-size: cover;
    background-position: center;
}

.grid-item h3 {
    background-color: var(--color-3);
    font-size: 24px;
    padding: 10px 10px;
    border: 1px solid black;
}
/* END MY WORK STYLES */


/* BEGIN CONTACT ME STYLES */
.contact-bg {
    background-color: var(--color-1);
}

.contact {
    margin: auto 0;
}

.contact ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contact li {
    border-bottom: 2px solid;
    flex: 0 auto;
}

.contact ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-3);
}

.contact-img {
    margin-right: 5px;
}

.contact-img img {
    width: 16px;
    height: 16px;
    max-width: 100%;
}

.contact-text {
    font-size: 20px;
}
/* END CONTACT ME STYLES

/* AKRAM SABBAH */